$mainColor: #46B1DE;
$secondaryColor: #A1C7D4;
$whiteColor : #fff;
$blackColor: #000;

$fontFamily: 'Roboto';
$fontSofia: 'Sofia Sans';
$sofia-sans-font-path: url(../../fonts/Sofia_sans/SofiaSans[wdth,wght].woff2) format("woff2");

$background-img-path: url('../../img/figma_imge/background_img.jpg');