@import '_variables';

@mixin triangle ($width, $color) {
	width: 0;
	height: 0;
  margin-left: 50%;
  transform: translate(-50%, 0%);
	border-right: $width solid transparent;
	border-left: $width solid transparent;
	border-top: $width solid $color;
}

.triangle {
	@include triangle(20px, $mainColor);
}

* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
  }
  
  html {
    font-family: $fontFamily;
  }
  
  @font-face {
    font-family: $fontSofia;
    src: $sofia-sans-font-path;
    font-style: normal;
    font-weight: 400;
}
  
  a {
    color: $blackColor;
    text-decoration: none;
    
    &:hover {
      color: $mainColor;
    }
  }
  
  .header_navigation {
    a {
      &:hover {
        color: $mainColor;
      }
    }
  }
  
  #phone:focus,
  #name:focus {
    background-image: none;
    border: 2px solid $mainColor;
  }
  
  .footer_navigation {
    a, p {
      &:hover {
        color: $whiteColor;
      }
    }
  }
  
  // mobile
  @media screen and (max-width: 600px) {
    @import '_mobileFooter';
    @import '_mobileMain';
    @import '_mobileHeader';
}
  
// tablet
  @media screen and (min-width: 601px) and (max-width: 1023px) {
    @import '_tabletFooter';
    @import '_tabletMain';
    @import '_tabletHeader';
}
  
// laptop
    @media screen and (min-width: 1024px) {
    @import '_laptopFooter';
    @import '_laptopMain';
    @import '_laptopHeader';
}

// burger
  @media screen and (max-width: 768px) {
    @import '_burger';
}
